.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--quaternary-color);
  }
  
  .header {
    width: 100%;
    display: flex;
    margin-bottom: 100px;
  }

  .headerLeft {
    width: 70%;
    gap: 10px;
    display: flex;
    justify-content: start;
  }
  .headerRight {
    width: 30%;
    display: flex;
    justify-content: end;
  }
  
  .main {
    width: 100%;
  }