  .createButton {
    border: none;
    border-radius: 30px;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    cursor: pointer;
    box-sizing: border-box; 
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
  }
  
label {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    display: block;
}

  h2 {
    font-size: 15px;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .modalContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .input {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    /* display: block; */
    width: 100%;
    background-color: white;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .saveButton {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .saveButton:hover {
    background-color: #218838;
  }
  
  .cancelButton {
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cancelButton:hover {
    background-color: #c82333;
  }
  
  .form-container  {
    border: 1px solid red;
  }
  