.filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 20px;
  }
  
  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #f0f0f0;
    cursor: pointer;
    color: var(--text-primary);
    font-size: 14px;
  }
  
  .button:hover {
    background-color: #ddd;
  }