* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.04rem;
  }
  
  /* navbar */
  .login {
    position: absolute;
    right: 40px;
    color: var(--text-primary-color);
  }

  .navbarMain, .navbar {
    background-color: var(--tertiary-color);
    display: flex;
    align-items: center;
  }

  .navbar {
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
  }
  
  .navbarMain {
    border-bottom: 0.001rem solid;
    border-color: rgba(136,136,136,0.25); 
    padding: 20px;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  /* logo  */
  .logo {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: var(--primary-color);
  }
  
  
  /* ul  */
  .navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  
  /* media queries */
  
  @media screen and (max-width: 780px){
    
    /* hamburger */
    .hamburger {
      display: block;
      cursor: pointer;
      position: absolute;
      top: 25px;
      left: 15px;
    }
  
    .bar {
          background-color: var(--primary-color);
          width: 20px;
          height: 2px;
          display: block;
          margin: 5px;
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
      }
  
    /* adding active class to the bars  */
    .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
      transform: translateY(7px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
      transform: translateY(-7px) rotate(-45deg);
    }
  
  
    /* navMenu */
  
    .navMenu{
      position: absolute;
      flex-direction: column;
      gap: 0;
      top: 70px;
      left: -100%;
      text-align: start;
      width: 100%;
      transition: 0.7s ease-in-out;
      background-color: var(--secondary-color);
      padding: 10px;
    }

    a {
        text-decoration: none;
        color: var(--text-secondary-color);
        font-size: 17px;
      }
  
    .navMenu.active{
      left: 0;
    }
  
    .navMenu li {
      margin: 16px 0;
    }
  }