.recipeList {
    display: flex;
    width: 100%;
    color: var(--tertiary-color);
    padding-top: 80px;
}

.recipeItem {
  border-bottom: 0.001rem solid;
  border-color: rgba(136, 136, 136, 0.30);
  width: 100%;
  padding: 15px 30px;
}

ul {
  width: 100%;
}
  .recipeItem a {
    color: var(--tertiary-color);
    text-decoration: none;
    font-size: 13px;
  }
  
  